/*
 * cc.shell.css
 * Styles the shell module presentation
 *
 */

div#cc-shell-cover-header,
div.cc-shell-front-header,
div.cc-shell-visual-header {
    height: 100px;
}

#cc-shell-cover-logo svg {
    margin-top: 36px;
    height: 20%;
    width: 20%;
    viewBox: "none";
}

.cc-shell-front-header div {
    margin-top: 18px;
}

.cc-shell-front-title h5 {
    margin-top: -8px;
}

.cc-shell-front-share {
    padding-top: 5px;
}

.cc-shell-front-logo svg {
    height: 56%;
    width: 56%;
    viewBox: "none";
}

.cc-shell-visual-header div {
    margin-top: 18px;
}

.cc-shell-visual-title h3 {
    margin-top: -16px;
}

.cc-shell-visual-share {
    padding-top: 5px;
}

.cc-shell-visual-logo svg {
    height: 50%;
    width: 50%;
    viewBox: "none";
}

.cc-shell-source-logo svg {
    height: 50%;
    width: 50%;
    viewBox: "none";
}

#cc-shell-visual-volume-description svg {
    height: 100%;
    width: 100%;
    viewBox: "none";
}
.cc-shell-visual-content p {
    margin-top: 20px;
}

.visual svg {
    height: 100%;
    width: 100%;
    viewBox: "none";
}

#cc-shell-cover-title h1 {
    font-family: "OswaldBold", sans-serif;
    font-size: 92px;
    line-height: 92px;
    margin-bottom: 0px;
}

#cc-shell-cover-title h2 {
    font-family: "OswaldLight", sans-serif;
}

.cc-shell-front-title h4 {
    font-family: "OswaldBold", sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

.cc-shell-front-title h5 {
    font-family: "OswaldLight", sans-serif;
    font-size: 17px;
    line-height: 24px;
}

.cc-shell-visual-title h1 {
    font-family: "OswaldBold", sans-serif;
}

.cc-shell-visual-title h3 {
    font-family: "OswaldLight", sans-serif;
}

.cc-shell-source-content img {
    max-width: 100%;
    max-height: 100%;
}

.contents-for-visual {
    float: left;
    display: inline;
    padding-right: 20px;
}

#cc-shell-volume hr,
#cc-shell-trust hr,
#cc-shell-topics hr,
#cc-shell-frequency hr {
    margin-bottom: 0px;
}

/*
.navigation-for-visual h4 {
    float: left;
    display: inline;
}
*/

.border {
    border-left: 1px solid #ddd;
}

.extrabold {
    font-family: "OpenSansExtraBold", sans-serif;
}
.bold {
    font-family: "OpenSansBold", sans-serif;
}
.semibold {
    font-family: "OpenSansSemiBold", sans-serif;
}
.lightitalic {
    font-family: "OpenSansLightItalic", sans-serif;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
