/*
 * cc.force.css
 * Styles the force module presentation
 *
 */

/* Axis line and font */

.cc-force-axis {
    shape-rendering: crispEdges;
}

.x.cc-force-axis line,
.x.cc-force-axis path {
    fill: none;
    stroke: #000;
}

.x.cc-force-axis text {
    font-family: "OpenSansExtraBold", sans-serif;
}

.y.cc-force-axis line,
.y.cc-force-axis path {
    fill: none;
    stroke: #000;
}

.y.cc-force-axis text {
    font-family: "OpenSansExtraBold", sans-serif;
}
