/*
 * cc.shell.css
 * Styles the shell module presentation
 *
 */

/* SVG logos */

#cc-shell-cover-logo svg {
    margin-top: 36px;
    height: 34px;
    width: auto;
    viewBox: "none";
}

.cc-shell-front-logo svg,
.cc-shell-visual-logo svg,
.cc-shell-source-logo svg {
    height: 34px;
    width: auto;
    viewBox: "none";
}

#cc-shell-cover-logo svg:hover circle,
.cc-shell-front-logo svg:hover circle,
.cc-shell-visual-logo svg:hover circle,
.cc-shell-source-logo svg:hover circle {
    fill: #4d6bcc;
}

#cc-shell-cover-logo svg:hover text,
.cc-shell-front-logo svg:hover text,
.cc-shell-visual-logo svg:hover text,
.cc-shell-source-logo svg:hover text {
    fill: #6085ff;
}

/* SVG navigation */

.cc-shell-circle-arrow svg {
    height: 24px;
    width: auto;
    viewBox: "none";
    margin-top: 2px;
}

.cc-shell-circle-arrow svg:hover polyline {
    stroke: #6085ff;
}

#cc-shell-cover-image svg {
    z-index: -1;
}

/* Header */

div#cc-shell-cover-header,
div.cc-shell-front-header,
div.cc-shell-visual-header,
div.cc-shell-source-header {
    height: 100px;
}

div.cc-shell-front-header,
div.cc-shell-visual-header,
div.cc-shell-source-header {
    margin-top: 18px;
}

.cc-shell-front-share,
.cc-shell-visual-share,
.cc-shell-source-share {
    padding-top: 5px;
}

#cc-shell-contents hr,
#cc-shell-preface hr,
#cc-shell-introduction hr,
#cc-shell-postscript hr,
#cc-shell-colophon hr {
    margin-bottom: 42px;
}

#cc-shell-volume hr,
#cc-shell-trust hr,
#cc-shell-topics hr,
#cc-shell-frequency hr {
    margin-bottom: 0px;
}

/* Body titles */

#cc-shell-cover-title h1 {
    font-family: "OswaldBold", sans-serif;
    font-size: 92px;
    line-height: 92px;
    margin-bottom: 0px;
}

#cc-shell-cover-title h2 {
    font-family: "OswaldLight", sans-serif;
}

.cc-shell-visual-title h1 {
    font-family: "OswaldBold", sans-serif;
}

.cc-shell-visual-title h3 {
    font-family: "OswaldLight", sans-serif;
    margin-top: -16px;
}

.cc-shell-title-for-visual {
    margin-top: 32px;
}

.cc-shell-title-for-visual h2 {
    margin-top: -16px;
}

.cc-shell-front-title h4,
.cc-shell-source-title h4 {
    font-family: "OswaldBold", sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

.cc-shell-front-title h5,
.cc-shell-source-title h5 {
    font-family: "OswaldLight", sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: -8px;
}

/* Body navigation */

#cc-shell-cover-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
}

/* Body font */

.cc-shell-extrabold {
    font-family: "OpenSansExtraBold", sans-serif;
}

.cc-shell-bold {
    font-family: "OpenSansBold", sans-serif;
}

.cc-shell-semibold {
    font-family: "OpenSansSemiBold", sans-serif;
}

.cc-shell-lightitalic {
    font-family: "OpenSansLightItalic", sans-serif;
}

/* Body miscellaneous */

.cc-shell-front-body ul {
    list-style: disc;
}

div.cc-shell-visual-description p {
    margin-top: 20px;
}

#cc-shell-visual-volume-graphic,
#cc-shell-visual-trust-graphic,
#cc-shell-visual-topics-graphic,
#cc-shell-visual-frequency-graphic {
    margin-top: 32px;
}

.cc-shell-source-content img {
    max-width: 100%;
    max-height: 100%;
}

.cc-shell-centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
