/* 
 * bp.base.css
 * Overrides skeleton/base.css
 * Contains elements
 *
 */

/* Table of Content
   ==================================================
   #Basic Styles
   #Typography
   #Links
   #Images */

/* #Basic Styles
   ================================================== */

body {
    /* font: 21px/32px "OpenSansRegular", Helvetica, Arial, sans-serif; */
    color: #292929;
}

.inline {
    display: inline;
}

.newline {
    clear: left;
}
    
.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* #Typography
   ================================================== */

h1, h2, h3, h4, h5, h6 {
    color: #212121;
    font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
}

.oswaldbold h1, .oswaldbold h2, .oswaldbold h3, .oswaldbold h4, .oswaldbold h5, .oswaldbold h6,
 h1.oswaldbold,  h2.oswaldbold,  h3.oswaldbold,  h4.oswaldbold,  h5.oswaldbold,  h6.oswaldbold {
    font-family: "OswaldBold", Helvetica, Arial, sans-serif;
}

.comfortaabold h1, .comfortaabold h2, .comfortaabold h3, .comfortaabold h4, .comfortaabold h5, .comfortaabold h6,
 h1.comfortaabold,  h2.comfortaabold,  h3.comfortaabold,  h4.comfortaabold,  h5.comfortaabold,  h6.comfortaabold {
    font-family: "ComfortaaBold", Helvetica, Arial, sans-serif;
}

/* #Links
   ================================================== */

a, a:visited { color: #B10000; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #1AB6E5; }

/* #Images
   ================================================== */

svg { width: auto; viewBox: "none"; }
svg.scale-with-grid {max-width: 100%; max-height: 100%; }
