/* 
 * bp.skeleton.css
 * Overrides skeleton/skeleton.css
 * Contains media queries
 *
 */

/* Table of Contents
   ==================================================
   #Base 960 Grid
   #Tablet (Portrait)
   #Mobile (Portrait)
   #Mobile (Landscape)*/

/* #Base 960 Grid
   ================================================== */

.room { position: fixed; width: 960px; margin: 0 auto; padding: 0; left: 50%; margin-left: -480px; }
.graphic {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}

/* #Tablet (Portrait)
   ================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .room { width: 768px; left: 50%; margin-left: -384px;}
    .graphic {
        -webkit-transform: scale(0.7935);
        -moz-transform: scale(0.7935);
        -o-transform: scale(0.7935);
        -ms-transform: scale(0.7935);
        transform: scale(0.7935);
    }
}

/*  #Mobile (Portrait)
    ================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .room { width: 300px; left: 50%; margin-left: -150px;}
    .graphic {
        -webkit-transform: scale(0.4838);
        -moz-transform: scale(0.4838);
        -o-transform: scale(0.4838);
        -ms-transform: scale(0.4838);
        transform: scale(0.4838);
    }
}

/* #Mobile (Landscape)
   ================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .room { width: 420px; left: 50%; margin-left: -210px;}
    .graphic {
        -webkit-transform: scale(0.6774);
        -moz-transform: scale(0.6774);
        -o-transform: scale(0.6774);
        -ms-transform: scale(0.6774);
        transform: scale(0.6774);
    }
}
