/* 
 * bp.skeleton.css
 * Overrides skeleton/skeleton.css
 * Contains media queries
 *
 */

/* Table of Contents
   ==================================================
   #Base 960 Grid
   #Tablet (Portrait)
   #Mobile (Portrait)
   #Mobile (Landscape)*/

/* #Base 960 Grid
   ================================================== */

.room { position: fixed; width: 960px; margin: 0 auto; padding: 0; left: 50%; margin-left: -480px; }

.graphic {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}

body { font-size: 21px; line-height: 32px; }

h1 { font-size: 138px; line-height: 150px; margin-bottom: 42px;}
h2 { font-size: 60px; line-height: 69px; margin-bottom: 17px; }
h3 { font-size: 42px; line-height: 51px; margin-bottom: 12px; }
h4 { font-size: 36px; line-height: 24px; margin-bottom: 3px; }
h5 { font-size: 14px; line-height: 25px; }
h6 { font-size: 12px; line-height: 25px; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

.footer p { font-size: 12px; line-height: 18px; }
.footer label { font-size: 12px; line-height: 18px; }

#bp-shell-header-content {
    margin-top: 25px;
    margin-bottom: 25px;
}

#bp-shell-header-logo svg {
    height: 50px;
}

#bp-shell-header-navigation {
    margin-top: 13px;
}

.bp-shell-share-on-flickr svg,
.bp-shell-share-on-tumblr svg,
.bp-shell-share-on-twitter svg,
.bp-shell-share-by-email svg {
    height: 25px;
}

.bp-shell-section-spacer {
    padding-top: 100px;
}

#bp-shell-tame-image svg,
#cc-shell-visual-trust-graphic svg,
img#bp-shell-preserve-image,
#bp-shell-less-image svg {
    height: 300px;
}

.bp-shell-navigation h6 {
    margin-top: 15px;
}

#bp-shell-connect-connect svg {
    margin-top: 5px;
}

.bp-shell-paging-major svg {
    height: 50px;
}

.bp-shell-paging-minor svg {
    height: 50px;
}

.bp-shell-footer-content {
    padding-top: 25px;
}

.bp-shell-footer-content h5 {
    margin-bottom: 5px;
}

.bp-shell-footer-content h5.bp-shell-nav-to-browse {
    margin-top: 20px;
    margin-bottom: 25px;
}

/* #Tablet (Portrait)
   ================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .room { width: 768px; left: 50%; margin-left: -384px;}
    
    .graphic {
        -webkit-transform: scale(0.7935);
        -moz-transform: scale(0.7935);
        -o-transform: scale(0.7935);
        -ms-transform: scale(0.7935);
        transform: scale(0.7935);
    }
    
    body { font-size: 17px; line-height: 25px; }
    
    h1 { font-size: 110px; line-height: 119px; margin-bottom: 33px;}
    h2 { font-size: 48px; line-height: 55px; margin-bottom: 13px; }
    h3 { font-size: 33px; line-height: 40px; margin-bottom: 10px; }
    h4 { font-size: 29px; line-height: 19px; margin-bottom: 2px; }
    h5 { font-size: 11px; line-height: 20px; }
    h6 { font-size: 10px; line-height: 20px; }
    
    p { margin: 0 0 16px 0; }
    p img { margin: 0; }
    p.lead { font-size: 17px; line-height: 21px; color: #777;  }
    
    .footer p { font-size: 10px; line-height: 14px; }
    .footer label { font-size: 10px; line-height: 14px; }
    
    #bp-shell-header-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #bp-shell-header-logo svg {
        height: 40px;
    }
    
    #bp-shell-header-navigation {
        margin-top: 10px;
    }
    
    .bp-shell-share-on-flickr svg,
    .bp-shell-share-on-tumblr svg,
    .bp-shell-share-on-twitter svg,
    .bp-shell-share-by-email svg {
        height: 20px;
    }
    
    .bp-shell-section-spacer {
        padding-top: 79px;
    }
    
    #bp-shell-tame-image svg,
    #cc-shell-visual-trust-graphic svg,
    img#bp-shell-preserve-image,
    #bp-shell-less-image svg {
        height: 238px;
    }
    
    .bp-shell-navigation h6 {
        margin-top: 12px;
    }
    
    #bp-shell-connect-connect svg {
        margin-top: 4px;
    }

    .bp-shell-paging-major svg {
        height: 40px;
    }
    
    .bp-shell-paging-minor svg {
        height: 40px;
    }
    
    .bp-shell-footer-content {
        padding-top: 20px;
    }
    
    .bp-shell-footer-content h5 {
        margin-bottom: 4px;
    }
    
    .bp-shell-footer-content h5.bp-shell-nav-to-browse {
        margin-top: 16px;
        margin-bottom: 20px;
    }
}

/*  #Mobile (Portrait)
    ================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

    .container { width: 320px; }
    .container .column,
    .container .columns           { margin-left: 10px; margin-right: 10px;  }
    .column.alpha, .columns.alpha { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega { margin-right: 0; margin-left: 10px; }
    .alpha.omega                  { margin-left: 0; margin-right: 0; }

    .room { width: 320px; left: 50%; margin-left: -160px;}
    
    .graphic {
        -webkit-transform: scale(0.4838);
        -moz-transform: scale(0.4838);
        -o-transform: scale(0.4838);
        -ms-transform: scale(0.4838);
        transform: scale(0.4838);
    }
    
    body { font-size: 10px; line-height: 15px; }
    
    h1 { font-size: 67px; line-height: 73px; margin-bottom: 20px;}
    h2 { font-size: 29px; line-height: 33px; margin-bottom: 8px; }
    h3 { font-size: 20px; line-height: 25px; margin-bottom: 6px; }
    h4 { font-size: 17px; line-height: 12px; margin-bottom: 1px; }
    h5 { font-size: 7px; line-height: 12px; }
    h6 { font-size: 6px; line-height: 12px; }
    
    p { margin: 0 0 10px 0; }
    p img { margin: 0; }
    p.lead { font-size: 10px; line-height: 13px; color: #777;  }
    
    .footer p { font-size: 6px; line-height: 9px; }
    .footer label { font-size: 6px; line-height: 9px; }
    
    #bp-shell-header-content {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    #bp-shell-header-logo svg {
        height: 24px;
    }
    
    #bp-shell-header-navigation {
        margin-top: 6px;
    }
    
    .bp-shell-share-on-flickr svg,
    .bp-shell-share-on-tumblr svg,
    .bp-shell-share-on-twitter svg,
    .bp-shell-share-by-email svg {
        height: 12px;
    }
    
    .bp-shell-section-spacer {
        padding-top: 48px;
    }
    
    #bp-shell-tame-image svg,
    #cc-shell-visual-trust-graphic svg,
    img#bp-shell-preserve-image,
    #bp-shell-less-image svg {
        height: 145px;
    }
    
    .bp-shell-navigation h6 {
        margin-top: 7px;
    }
    
    #bp-shell-connect-connect svg {
        margin-top: 0px;
    }

    .bp-shell-paging-major svg {
        height: 24px;
    }
    
    .bp-shell-paging-minor svg {
        height: 24px;
    }
    
    .bp-shell-footer-content {
        padding-top: 12px;
    }
    
    .bp-shell-footer-content h5 {
        margin-bottom: 2px;
    }
    
    .bp-shell-footer-content h5.bp-shell-nav-to-browse {
        margin-top: 10px;
        margin-bottom: 12px;
    }
}

/* #Mobile (Landscape)
   ================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .container { width: 440px; }
    .container .column,
    .container .columns           { margin-left: 10px; margin-right: 10px;  }
    .column.alpha, .columns.alpha { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega { margin-right: 0; margin-left: 10px; }
    .alpha.omega                  { margin-left: 0; margin-right: 0; }

    .room { width: 440px; left: 50%; margin-left: -220px;}
    
    .graphic {
        -webkit-transform: scale(0.6774);
        -moz-transform: scale(0.6774);
        -o-transform: scale(0.6774);
        -ms-transform: scale(0.6774);
        transform: scale(0.6774);
    }
    
    body { font-size: 14px; line-height: 22px; }
    
    h1 { font-size: 93px; line-height: 102px; margin-bottom: 28px;}
    h2 { font-size: 41px; line-height: 47px; margin-bottom: 12px; }
    h3 { font-size: 28px; line-height: 35px; margin-bottom: 8px; }
    h4 { font-size: 24px; line-height: 16px; margin-bottom: 2px; }
    h5 { font-size: 9px; line-height: 17px; }
    h6 { font-size: 8px; line-height: 17px; }
    
    p { margin: 0 0 14px 0; }
    p img { margin: 0; }
    p.lead { font-size: 14px; line-height: 18px; color: #777;  }
    
    .footer p { font-size: 8px; line-height: 12px; }
    .footer label { font-size: 8px; line-height: 12px; }
    
    #bp-shell-header-content {
        margin-top: 17px;
        margin-bottom: 17px;
    }
    
    #bp-shell-header-logo svg {
        height: 34px;
    }
    
    #bp-shell-header-navigation {
        margin-top: 9px;
    }
    
    .bp-shell-share-on-flickr svg,
    .bp-shell-share-on-tumblr svg,
    .bp-shell-share-on-twitter svg,
    .bp-shell-share-by-email svg {
        height: 17px;
    }
    
    .bp-shell-section-spacer {
        padding-top: 68px;
    }
    
    #bp-shell-tame-image svg,
    #cc-shell-visual-trust-graphic svg,
    img#bp-shell-preserve-image,
    #bp-shell-less-image svg {
        height: 203px;
    }
    
    .bp-shell-navigation h6 {
        margin-top: 10px;
    }
    
    #bp-shell-connect-connect svg {
        margin-top: 0px;
    }

    .bp-shell-paging-major svg {
        height: 34px;
    }
    
    .bp-shell-paging-minor svg {
        height: 34px;
    }
    
    .bp-shell-footer-content {
        padding-top: 17px;
    }
    
    .bp-shell-footer-content h5 {
        margin-bottom: 3px;
    }
    
    .bp-shell-footer-content h5.bp-shell-nav-to-browse {
        margin-top: 14px;
        margin-bottom: 17px;
    }
}
