/*
 * bp.shell.css
 * Styles the shell module presentation
 * Contains identifiers and classes
 *
 */

#bp-shell-header-fixed,
#bp-shell-footer-fixed {
    background-color: white;
}

#bp-shell-header-logo svg {
    height: 34px;
    width: auto;
    viewBox: "none";
}

.bp-shell-body {
    margin: 0;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
