/* 
 * bp.skeleton.css
 * Overrides skeleton/skeleton.css
 * Contains media queries
 *
 */

/* Table of Contents
   ==================================================
   #Base 960 Grid
   #Tablet (Portrait)
   #Mobile (Portrait)
   #Mobile (Landscape)*/

/* #Base 960 Grid
   ================================================== */

.room { position: fixed; width: 960px; margin: 0 auto; padding: 0; left: 50%; margin-left: -480px; }
.graphic {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}

body {
    font: 21px/32px "OpenSansRegular", Helvetica, Arial, sans-serif;
}

h1 { font-size: 138px; line-height: 150px; margin-bottom: 42px;}
h2 { font-size: 60px; line-height: 69px; margin-bottom: 17px; }
h3 { font-size: 42px; line-height: 51px; margin-bottom: 12px; }
h4 { font-size: 17px; line-height: 24px; margin-bottom: 3px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

.bp-shell-section-spacer {
    padding-top: 100px;
}

.bp-shell-content {
}

.bp-shell-navigation {
}

.bp-shell-paging-major svg {
    height: 50px;
}

.bp-shell-paging-minor svg {
    height: 50px;
}

#bp-shell-header-logo svg,
#bp-shell-header-navigation svg {
    height: 25px;
}

.bp-shell-footer-content svg {
    height: 25px;
}

/* #Tablet (Portrait)
   ================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .room { width: 768px; left: 50%; margin-left: -384px;}
    .graphic {
        -webkit-transform: scale(0.7935);
        -moz-transform: scale(0.7935);
        -o-transform: scale(0.7935);
        -ms-transform: scale(0.7935);
        transform: scale(0.7935);
    }

    body {
        font: 17px/25px "OpenSansRegular", Helvetica, Arial, sans-serif;
    }

    h1 { font-size: 110px; line-height: 119px; margin-bottom: 33px; }
    h2 { font-size: 48px; line-height: 55px; margin-bottom: 13px; }
    h3 { font-size: 33px; line-height: 40px; margin-bottom: 10px; }
    h4 { font-size: 13px; line-height: 19px; margin-bottom: 2px; }
    h5 { font-size: 13px; line-height: 19px; }
    h6 { font-size: 11px; line-height: 17px; }
    
    p { margin: 0 0 16px 0; }
    p img { margin: 0; }
    p.lead { font-size: 17px; line-height: 21px; color: #777;  }
}

/*  #Mobile (Portrait)
    ================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .room { width: 300px; left: 50%; margin-left: -150px;}
    .graphic {
        -webkit-transform: scale(0.4838);
        -moz-transform: scale(0.4838);
        -o-transform: scale(0.4838);
        -ms-transform: scale(0.4838);
        transform: scale(0.4838);
    }

    body {
        font: 10px/15px "OpenSansRegular", Helvetica, Arial, sans-serif;
    }

    h1 { font-size: 67px; line-height: 73px; margin-bottom: 20px; }
    h2 { font-size: 29px; line-height: 33px; margin-bottom: 8px; }
    h3 { font-size: 20px; line-height: 25px; margin-bottom: 6px; }
    h4 { font-size: 8px; line-height: 12px; margin-bottom: 1px; }
    h5 { font-size: 8px; line-height: 12px; margin-bottom: 0px; }
    h6 { font-size: 7px; line-height: 10px; margin-bottom: 0px; }
    
    p { margin: 0 0 10px 0; }
    p img { margin: 0; }
    p.lead { font-size: 10px; line-height: 13px; color: #777;  }
}

/* #Mobile (Landscape)
   ================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .room { width: 420px; left: 50%; margin-left: -210px;}
    .graphic {
        -webkit-transform: scale(0.6774);
        -moz-transform: scale(0.6774);
        -o-transform: scale(0.6774);
        -ms-transform: scale(0.6774);
        transform: scale(0.6774);
    }

    body {
        font: 14px/22px "OpenSansRegular", Helvetica, Arial, sans-serif;
    }

    h1 { font-size: 93px; line-height: 102px; margin-bottom: 28px; }
    h2 { font-size: 41px; line-height: 47px; margin-bottom: 12px; }
    h3 { font-size: 28px; line-height: 35px; margin-bottom: 8px; }
    h4 { font-size: 12px; line-height: 16px; margin-bottom: 2px; }
    h5 { font-size: 12px; line-height: 16px; margin-bottom: 0px; }
    h6 { font-size: 9px; line-height: 14px; margin-bottom: 0px; }
    
    p { margin: 0 0 14px 0; }
    p img { margin: 0; }
    p.lead { font-size: 14px; line-height: 18px; color: #777;  }
}
